<!-- top title -->
<div class="row justify-content-center">
  <section class="col-12 col-md-4">
    <span>
      <a
        class="text-left"
        href="/accounts/<%= account_id %>/profile/<%= profile_id %>/home"
        ><span class="bi bi-arrow-left"></span> Home</a
      >
      <h3 class="lead text-center">Little Nugget</h3>
    </span>
    <hr class="bg-danger border-2 border-top border-danger" />
  </section>
</div>
